.container-sidebar{
    background: #fff;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.56);

    position: fixed;
    padding-top: 72px;
    width: 110px;
    min-height: 700px;
    height: -webkit-fill-available;
}